<section id="content">
    <main>
        <h1 class="title">User Dashboard</h1>
        <ul class="breadcrumbs">
            <li><a routerLink="/home">Home</a></li>
            <li class="divider">/</li>
            <li><a routerLink="/user" class="active">User Dashboard</a></li>
        </ul>
        <div class="info-data">
            <div class="card">
                <a routerLink="/reclamation">
                    <div class="head">
                        <div>
                            <h2></h2>
                            <p>Reclamations</p>
                        </div>
                        <i class="bi bi-card-text"></i>
                    </div>
                </a>
            </div>
            <div class="card">
                <a routerLink="/my-reclamations">
                    <div class="head">
                        <div>
                            <h2></h2>
                            <p>Mes Reclamations</p>
                        </div>
                        <i class="bi bi-chat-dots"></i>
                    </div>
                </a>
            </div>
            <div class="card">
                <a routerLink="/contrat">
                    <div class="head">
                        <div>
                            <h2></h2>
                            <p>Contrats</p>
                        </div>
                        <i class="bi bi-file-earmark-text"></i>
                    </div>
                </a>
            </div>
            <div class="card">
                <a routerLink="/listpaiements">
                    <div class="head">
                        <div>
                            <h2></h2>
                            <p>List Paiements</p>
                        </div>
                        <i class="bi bi-credit-card"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="data">
            <div class="content-data">
                <div class="chart">
                    <h1 style="text-align: center;">Mes Contrats</h1>
                    <app-contrats></app-contrats>
                </div>
            </div>
            <div class="content-data">
                <div class="containerListe">
                    <h1>Paiements effectuées</h1>
                    <app-listpaiements></app-listpaiements>
                </div>
            </div>
        </div>
    </main>
</section>
